
:root {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
  }

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__toggle {
    padding: 0.5em 2em 0.5em 1.5em;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #eee;
}

.dropdown__toggle::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent; /* 使用边框绘制三角形 */
}

.dropdown__drawer {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}

.dropdown.is-open .dropdown__toggle::after {
    top: 0.7em;
    border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
    display: block;
}

/* 菜单模块 */
.menu {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    border: 1px solid #999;
}

.menu > li + li {
    border-top: 1px solid #999;
}

.menu > li > a {
    display: block;
    padding: 0.5em 1.5em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: #fff;
}

